{% load static %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
        .logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-top: -10px;
  height: 40px;
  margin-right: 10px;
}
.header-area .logo {
    margin: 25px;
}

@media only screen and (max-width: 768px) {
  .logo img {
    height: 30px;
  }
}footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}


    </style>

    </head>
    
    <body>
        
   
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        
        <div class="container">
            <div class="row">
                <div class="col-12"style="">
                    <nav class="main-nav" style="padding-top: 10px;">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'home' %}" class="logo"><img style="margin-top: 2px;" src="{% static 'assets/images/logo.png' %}" alt=""></em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                              
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
                                    <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                                    <a class="dropdown-item" href="{% url 'our_team'%}">Team</a> 
                                    <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
                                    <a class="dropdown-item" href="{% url 'terms' %}">Terms</a>
                                </div>
                            </li>
                            <li><a  {% if request.path == '/' %}class="active"{% endif %} href="{% url 'home' %}">Home</a></li>
                            <li><a  {% if request.path == '/vehicles/' %}class="active"{% endif %} href="{% url 'vehicles' %}">Cars</a></li>
                            <li><a  {% if request.path == '/parts/' %}class="active"{% endif %} href="{% url 'parts' %}">Parts</a></li>
                            <li><a  {% if request.path == '/contact/' %}class="active"{% endif %} href="{% url 'contact' %}">contact</a></li> 

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        
        {% block content %}{% endblock %}
    </main><footer>
        <nav>
          <ul>
            <li><a class="" href="{% url 'about' %}">About Us</a></li>
            <li><a class="" href="{% url 'blog' %}">Blog</a></li>
            <li><a class="" href="{% url 'our_team'%}">Team</a> </li>
            <li><a class="" href="{% url 'faq' %}">FAQ</a></li>
            <li><a class="" href="{% url 'terms' %}">Terms</a></li>
            <li><a class="" href="{% url 'vehicles' %}">Cars</a></li>
            <li><a class="" href="{% url 'parts' %}">Parts</a></li>
            <li><a class="" href="{% url 'contact' %}">Contacts</a></li>
          </ul>
        </nav>
        <p>
            Copyright © 
            
        </p>
      </footer>
      
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>